<link  rel="stylesheet"href="https://unpkg.com/xp.css@0.2.3/dist/98.css">

<div class="window" style="width: 400px;">
  <div class="title-bar">
    <div class="title-bar-text">Parcel Evaluator</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>
  <div class="window-body">    
    <fieldset>
      <legend>Parcel Measurement</legend>
      <form (ngSubmit)="evaluate()">
        <div class="field-row-stacked" style="width: 100%">
          <label for="weight">Weight</label>
          <input name="weight" type="text" id="weight" 
            placeholder="Weight" [(ngModel)]="parcelMeasurements.weight"
            required pattern="^\d*\.?\d*$" #weight="ngModel">
        </div>
        <div class="field-row-stacked" style="width: 100%">
          <label for="height">Height</label>
          <input name="height" type="text" id="height" 
            placeholder="Height" [(ngModel)]="parcelMeasurements.height"
            required pattern="^\d*\.?\d*$" #height="ngModel">
        </div>
        <div class="field-row-stacked" style="width: 100%">
          <label for="width">Width</label>
          <input name="width" type="text" id="width" 
            placeholder="Width" [(ngModel)]="parcelMeasurements.width"
            required pattern="^\d*\.?\d*$" #width="ngModel">
        </div>
        <div class="field-row-stacked" style="width: 100%">
          <label for="depth">Depth</label>
          <input name="depth" type="text" id="depth" 
            placeholder="Depth" [(ngModel)]="parcelMeasurements.depth"
            required pattern="^\d*\.?\d*$" #depth="ngModel">
        </div>
        <div class="field-row" style="width: 200px">
          <button type="submit">Evaluate</button>
        </div>        
      </form>
      <div *ngIf="this.notice"> {{ this.notice }} </div>
      <div *ngIf="weight.invalid && (weight.dirty || weight.touched) "> 
        <div *ngIf="weight.errors.required">
          Weight is required!
        </div>        
        <div *ngIf="weight.errors.pattern">
          Weight value must be in decimal only!
        </div>
      </div>
      <div *ngIf="height.invalid && (height.dirty || height.touched) "> 
        <div *ngIf="height.errors.required">
          Height is required!
        </div>        
        <div *ngIf="height.errors.pattern">
          Height value must be in decimal only!
        </div>
      </div>
      <div *ngIf="width.invalid && (width.dirty || width.touched) "> 
        <div *ngIf="width.errors.required">
          Width is required!
        </div>        
        <div *ngIf="width.errors.pattern">
          Width value must be in decimal only!
        </div>
      </div>
      <div *ngIf="depth.invalid && (depth.dirty || depth.touched) "> 
        <div *ngIf="depth.errors.required">
          Depth is required!
        </div>        
        <div *ngIf="depth.errors.pattern">
          Depth value must be in decimal only!
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Evaluation Results</legend>
      <div>
        Category:  {{ this.parcelResult.category }}
      </div>
      <div>
        Cost:  {{ this.parcelResult.cost }}
      </div>
    </fieldset>
  </div>
</div>